# fly.toml app configuration file generated for zahara-v1-router on 2025-11-12T03:21:42+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'zahara-v1-router'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
