@import "tailwindcss";
@import "../theme/tokens.css";

:root {
  color-scheme: dark;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: hsl(var(--bg));
  color: hsl(var(--fg));
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}